body{
    background-color: #f5f5f5;
}

.navbar-color{
    background-color: #2e2d2d;

}
.img-responsive{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("img/hawaii.jpg");
    height: 100vh;
}
